<div>
    <h2 id="page-heading">
        <span jhiTranslate="truequearApp.objetos.home.title">Objetos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-objetos" [routerLink]="['/objetos/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="truequearApp.objetos.home.createLabel">
            Create new Objetos
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'truequearApp.objetos.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="objetos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="truequearApp.objetos.tipoObjeto">Tipo Objeto</span></th>
            <th><span jhiTranslate="truequearApp.objetos.agregarArchibo">Agregar Archibo</span></th>
            <th><span jhiTranslate="truequearApp.objetos.tipoObjetos">Tipo Objetos</span></th>
            <th><span jhiTranslate="truequearApp.objetos.descripcion">Descripcion</span></th>
            <th><span jhiTranslate="truequearApp.objetos.nombre">Nombre</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let objetos of objetos ;trackBy: trackId">
                <td><a [routerLink]="['/objetos', objetos.id, 'view' ]">{{objetos.id}}</a></td>
                <td>{{objetos.tipoObjeto}}</td>
                <td>
                    <a *ngIf="objetos.agregarArchibo" (click)="openFile(objetos.agregarArchiboContentType, objetos.agregarArchibo)">
                        <img [src]="'data:' + objetos.agregarArchiboContentType + ';base64,' + objetos.agregarArchibo" style="max-height: 30px;" alt="objetos image"/>
                    </a>
                    <span *ngIf="objetos.agregarArchibo">{{objetos.agregarArchiboContentType}}, {{byteSize(objetos.agregarArchibo)}}</span>
                </td>
                <td jhiTranslate="{{'truequearApp.TipoObjetos.' + objetos.tipoObjetos}}">{{objetos.tipoObjetos}}</td>
                <td>{{objetos.descripcion}}</td>
                <td>
                    {{objetos.nombreId}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/objetos', objetos.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/objetos', objetos.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'objetos/'+ objetos.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
